<div class="right-grand-container">
    <div class="top-cart">
        <div class="order">
            Замовлення
            <div class="number-of-pizzas" id="number-of-pizzas">
                0
            </div>
        </div>

        <div class="clear-order">
            <button id="clean" class="invisible-button">Очистити замовлення</button>
        </div>
    </div>
    <!-- top-cart -->

    <div id="cart" class="center-cart">
        <!--            pizzas which will be added to cart-->
    </div>

    <div class="bottom-cart">

        <div class="sum-container">

            <div class="sum">Сума замовлення</div>
            <div class="in-the-end" id="sum"></div>

        </div>

        <div class="order-button-container">
            <button onclick="location.href = '/order.html';"  id="tester" class="btn order-button">Редагувати замовлення</button>
        </div>

    </div>

</div>
<% include common/header.ejs %>


<div class="order-grand-container">
    <form>
        <div class="form-group" >
            <label>Ім'я</label>
            <input  type="text" class="form-control" id="1"  placeholder="Вася Пупкин ">
            <small id="nameHelp" class="form-text text-muted">Пожалуйста, введите имя правильно.</small>
        </div>
        <div class="form-group">
            <label >Телефон</label>
            <input type="text" class="form-control" id="2" placeholder="Another input placeholder">
            <small id="numberHelp" class="form-text text-muted">Пожалуйста, введите телефон в формате +380.</small>
        </div>
        <div class="form-group">
            <label >Адреса</label>
            <input  required type="text" class="form-control" id="3" placeholder="Another input placeholder">
            <small id="numberEmail" class="form-text text-muted">Пожалуйста, введите электронную почту правильно.</small>
        </div>
        <button  type="button" disabled="true"  class="btn btn-primary" id="sign_in">Sign in</button>
    </form>
</div>


<!--<iframe-->
<!--        width="600"-->
<!--        height="450"-->
<!--        frameborder="0" style="border:0"-->
<!--        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9OezS-Uu39FPJCxUeAHZTKEXyUc1Q_bQ&q=Space+Needle,Seattle+WA" allowfullscreen>-->
<!--</iframe>-->
<div id="information_block">
    <div class="text-info">Інформація про замовлення</div>
    <div class="average-time-delivery">Приблизний час доставки: <span id="time_delivery"></span></div>
    <div class="address-delivery">Адреса доставки: <span id="user_address"></span></div>
</div>
<!--<div id="liqpay"></div>-->
<div id="map"></div>


<% include common/footer.ejs %>